{% extends 'base/startbase.html' %}
{% block title %}

Login

{% endblock title %}
{% block startup %}



<h5>Hello, Expand Your Business</h5>
<h3>REGISTER COMPANY</h3>
<p>Manage your Business with pharmanet.com, Explore the various features available to smoothly deal with your tasks.Reach to your Customers.Check the Demand.Keep Eye on the sales.</p>
<a href="{% url 'register' %}" class="read-more-1 btn">Register Here</a>
                            

{% endblock startup %}

{% block rightform %}

<div class="form-left">
                    <div class="middle">
                        <h4>Log In</h4>
                        <p>The More Customers, The More Profit.</p>
                    </div>
                    <form action="" method="post" class="signin-form">
                        {% csrf_token %}
                        <div class="form-input">
                            <label>Email</label>
                            <input type="email" name="email" placeholder="" required />
                        </div>
                        <div class="form-input">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="" required />
                            <a href="{% url 'forgot' %}" style="float: right;margin:15px 0px;">Forgot Password?</a>
                        </div>
                        <button type="submit" class="btn">Log In</button>
                    </form>
                    <div class="copy-right text-center">
                        <p>© Nainesh Rajani 2021. All rights reserved</p>
                    </div>
                </div>

{% endblock rightform %}